body
{
    background: url(images/decorations/back_cat.jpg);
    margin: 0;
}

.title
{
    background-image: url(images/decorations/header_back.jpg);
    background-size: 100% 100%;
    position: relative;
    top: -55px;
    height: 300px;
    color: #fff;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
}

.main-content
{
    min-width: 900px;
    background: radial-gradient(#fff, #555);
    text-align: center;
    width: auto;
    padding: 50px;
    margin: 100px 100px 50px;
    border: 1px solid #000;
}

input[id='layout']
{
    display: none;
}

input[id='layout']:checked ~ label[for='layout']
{
    transform: rotate(90deg);
}

label[for='layout']
{
    color: #fff;
    border: 1px solid #fff;
    font-size: 40px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    display: block;
    padding: 0;
    margin-bottom: 50px;
    
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

input[id='layout']:checked ~ .photocard
{
    min-width: 700px;
    max-width: 50vw;
    display: block;
}

.photocard
{
    background-color: #fff;
    display: inline-block;
    padding: 30px 30px 0;
    margin: 0 auto 10px;
    cursor: pointer;
}

.photocard:hover
{
    box-shadow: 3px 2px 5px 2px #00000026;
}

input[id='layout'] ~ .photocard img[src$='cat.jpg']
{
    width: 400px;
    height: 300px;
}

input[id='layout']:checked ~ .photocard img[src$='cat.jpg']
{
    width: 600px;
    height: 400px;
}

.photocard img[src$='cat.jpg']:hover
{
    box-shadow: 1px 1px 1px 1px #000;
    transform: scale(1.1, 1.1);
}

.info-about-cat
{
    text-align: left;
    overflow: ellipsis;
    margin-top: 10px;
}

input[id='layout']:checked ~ .photocard .info-about-cat
{
    margin: 10px auto;
    font-size: 20px;
    width: 600px;
}

.name-of-cat
{
    text-decoration-line: none;
    font-weight: bold;
    font-size: 34px;
}

.name-of-cat:link,
.name-of-cat:visited
{
    color: #000;
}

.name-of-cat:hover
{
    color: #008000;
}

input[id='layout']:checked ~ .photocard .name-of-cat
{
    font-size: 40px;
}

.describe-of-cat
{
    color: #808080;
}

.info-about-cat span
{
    color: #000;
    font-weight: bold;
}

.additional-info
{
    color: #808080;
    margin-bottom: 50px;
}

input[id='layout']:not(:checked) ~ .photocard .additional-info
{
    display: none;
}

.price
{
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
}

.footer-content__image
{
    width: 100%;
    height: 300px;
    background-image: url(images/decorations/footer_cat.jpg);
    background-size: 100% 100%;
}
